[submodule "Wyvern/src/vendor/imgui"]
	path = Wyvern/src/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Wyvern/src/vendor/implot"]
	path = Wyvern/src/vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "Wyvern/src/vendor/glfw"]
	path = Wyvern/src/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Wyvern/src/vendor/spdlog"]
	path = Wyvern/src/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
